.container {
  font-family:Raleway
}

#backdrop {
  background-color:#0336FF
}

#mainJumbotron {
  background-color:#0336FF
}

#mainJumbotron h3 {
  font-family:Rubik, sans-serif;
  font-weight: 300;
  color:#FFDE03;
  font-size: 60px;
  letter-spacing: 3px;
}

.navbar.fixed-top {
  background-color:#0336FF
}

.navbar-brand {
  font-family:Rubik, sans-serif;
  color:#FFDE03;
  font-size: 21px;
}

#homeNavLinks a {
  font-family: Raleway, sans-serif;
  color: #FFFFFF;
  font-size: 18px;
}
