a:hover {
  text-decoration: none;
}

.container {
  font-family:'Sarabun', sans-serif;
  color:#313131;
}

#mainJumbotron {
  background-color:white;
  height:85vh;
}

.project-jumbotron {
  color:#313131;
  background-color:#FFFFFF;
  height: 70vh;
}

.text-highlight {
  color: #673AB7;
}

h1 {
  font-family:'Sarabun', sans-serif;
}

h2 {
  font-family:'Sarabun', sans-serif;
}

h3 {
  font-family:'Sarabun', sans-serif;
  font-weight: 300;
  font-size: 60px;
  letter-spacing: 2px;
}

h4 {
  font-family:'Sarabun', sans-serif;
}

h5 {
  font-family:'Sarabun', sans-serif;
}

h6 {
  font-family:'Sarabun', sans-serif;
}

.navbar.fixed-top {
  background-color:#FFFFFF
}

.navbar-brand {
  font-family:'Sarabun', sans-serif;
  color:#313131;
  font-size: 21px;
  letter-spacing: 1px;
}

.nav-link {
  font-size:16px;
  letter-spacing:2px;
  color:#313131;
  font-weight:500;
  font-family: 'Sarabun', sans-serif;
}

.nav-link.current-link {
  font-size:16px;
  letter-spacing:2px;
  color:#673AB7;
  font-weight:500;
  font-family: 'Sarabun', sans-serif;
}

.project-card {
  max-width: 500px;
  margin-bottom: 25px;
}

.project-image {
  width:100%;
  height:auto;
}

.project-card:hover {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  opacity: 0.7;
}



.caption {
  text-align:center;
  padding: 15px;
}

.project-name {
  font-family: 'Sarabun', sans-serif;
  color: #313131;
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 0;
}

.project-type {
  font-family: 'Sarabun', sans-serif;
  color: #673AB7;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
}

.project-page-card {
  margin-bottom: 15vh;
}

.project-section-header:after {
  content:' ';
  display:block;
  border:3px solid #673AB7;
  width: 60px;
  margin-top: 2px;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.fa {
  padding: 10px;
  margin: 5px 2px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: grey;
  color: #FFFFFF;
}

.fa:hover {
    background: #673AB7;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-email {
  color:grey;
}
.footer-email:hover {
  color:#673AB7;
  text-decoration: none;
}

.footer-copyright {
  color:grey;
}
