h1,
h2,
h3,
a,
.project-title,
.project-subtitle {
  color: #FF404F;
}
.top-button {
  background-color: #FF404F;
}
.side-by-side {
  display: flex;
  justify-content: space-between;
}
.border {
  border: 1px solid #313131;
  border-radius: 4px;
}
