.top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #673AB7;
  color: white;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  font-family: objektiv-mk2, sans-serif;
}
.top-button:hover {
  background-color: #787878;
}
.underline {
  position: relative;
  margin: 3px;
  color: #A9A9A9;
}
.underline:hover {
  cursor: pointer;
  color: #313131;
}
.underline:hover:after {
  width: 100%;
}
.underline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 4px;
  background-color: #313131;
  width: 0;
  transition: width 0.25s;
}
.active-tab {
  color: #313131;
}
