img {
  max-width: 100%;
}
li {
  line-height: 1.6;
}
.project-title {
  margin: 3rem auto;
}
.project-title h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.project-name {
  font-size: 3em;
}
.project-subtitle {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: -0.05em;
}
.project-details {
  font-size: 0.8rem;
  color: #757575;
}
.text-wrapper {
  width: 775px;
  text-align: left;
  margin: 0 auto;
}
.text-wrapper p {
  line-height: 1.8;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.phone-screen-img {
  max-height: 80vh;
}
.img-caption {
  margin: 1rem 0 0 0;
  font-style: italic;
}
