@import 'variables.less';

// .copy-emphasis {
//   color: @purple;
// }

.homepage-header {
  margin-top: 7em;
  margin-bottom: 7em;
  text-align: left;
  max-width: 40em;
}

.homepage-header p {
  line-height: 1.6;
}

.thumbnail {
  transition: translate 0.5s;
}

.thumbnail:hover {
  opacity: 0.6;
  translate: 0px -10px;
}

.thumbnail a {
  text-decoration: none;
  color: @copy;
}

.thumbnail-img {
  max-width: 100%;
  height: auto;
}

.project-card-buffer {
  margin-bottom: 30px;
}
