@import 'variables.less';

.copy-emphasis {
  color: @purple;
}

.homepage-header {
  margin-top: 7em;
  margin-bottom: 7em;
  text-align: left;
  max-width: 40em;
}

.homepage-header p {
  line-height: 1.6;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-half {
  width: 50%;
  display: block;
  padding: 1rem;
  text-align: left;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.thumbnail {
  max-width: 100%;
  height: auto;
}

.project-label {
  line-height: 0.25;
}

.project-label h4 {
  color: @purple;
}
